
/**
 * HW 5.17.17
 **/

body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ddd;
	border-color: #ddd;
	color: #777;
	overflow: scroll;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-color: #ccc;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
	color: #fff;
	background-color: #4aaaa5;
	text-align: top;
	margin-left: 50px;
	vertical-align: text-top;
	height: 30px;
	padding:-10px;
}

h2 {
	color: #4aaaa5;
}

section {
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
	background-color: #fff;
	width: 960px;
}

#left {	
	width: 650px;
	float: left;
}

#right {
	width: 270px;
	float: left;
	color: #4aaaa5;
}

.formid {
	height: 200px;
	width: 200px;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.clear {
	clear: both;
}
footer {
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666;
    border-top: 20px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #4aaaa5;
    border-style: solid;
   }


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4aaaa5;
}

@media only screen and (max-width: 640px) {
	

	}